#Ignore Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Keep env.example for reference
!backend/env.example
!frontend/env.example

#Ignore node modules
**/node_modules
**/dist
**/dist-ssr
**/*.local

#Ignore env files
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

#Ignore Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/coverage/
**/.nyc_output/
**/storageState.json

#Ignore vitest

#Ignore Editor directories and files
**/.vscode/*
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?